@font-face {
    font-family: Monster;
    src: url(fonts/Green_Energy.ttf);
}

.monster-font {
    font-family: Monster;
    font-size: 18px;
}

.monospace {
    font-family: monospace;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    overflow: hidden;
}

body.day {
    background-color: #87CEFA;
    background-image: linear-gradient(to bottom, #87CEFA 60%, rgb(248, 218, 118));
}
body.afternoon1 {
    background-color: #4ad1ff;
}
body.afternoon2 {
    background-color: #7aa2cb;   
}
body.night {
    background-color: #191970;  
}

body.day {
    background-color: #87CEFA;
    background-image: linear-gradient(to bottom, #87CEFA 60%, rgb(248, 218, 118));
}
body.afternoon1 {
    background-color: #4ad1ff;
}
body.afternoon2 {
    background-color: #7aa2cb;   
}
body.night {
    background-color: #191970;  
}

body.halloween.day {
    background-color: #191970; 
    background-image: linear-gradient(180deg, #8585ff,#3c0055);
}

body.halloween.afternoon1,
body.halloween.afternoon2 {
    background-color: #191970;
    background-image: linear-gradient(180deg, #5555af,#520075);    
}

body.halloween.night {
    background-color: #191970;
    backdrop-filter: grayscale(80%);
    background-image: linear-gradient(180deg, #0000ff,#b400ff);
}

body.is-rain {
    backdrop-filter: grayscale(80%);
}

#sun {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 20px;
    z-index: 1;
    box-shadow: 0 0 100px 50px rgb(255, 255, 150);
    background-color: rgb(255, 255, 150);

}

* {
    margin: 0;
}
#bg {
    width: 419px;
    height: 700px;
}

.bg {
    margin-top: 193px;
    margin-left: -7px;
}

.eyes {
    width: 28px;
    height: 28px;
    background-color: #FFF;
    position: absolute;
    top: 352px;
    border: 1px solid #000;
    margin: 0 auto;
    z-index: 1001;
    border-radius: 50%;
}

.eyes-img {
    width: 10px;
    right: 0;
    position: absolute;            
    z-index: 1001;
    top: 362px;
}

#eye1 {
    left: 125px;
}

#eye2 {
    left: 215px;            
}

#left-eye {
    left: 114px;
}

#right-eye {
    left: 206px;           
}

.sheet {
    width: 50px;
    position: absolute;
    top: 500px;
    left: -70px;
    z-index: 2;
    transition: 1s all linear;
    transform: rotate(-130deg) rotateX(190deg) rotateZ(10deg)
}

#bg > img.bg {
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    z-index: 5;
}

#cloud {
    width: 235px;
    
    
}

#cloud-container {
    position: absolute;
    z-index: 2;
    top: 0;
    opacity: 1;
    left: -235px;
}

body.night #cloud {
    opacity: 0.8;
}

body.night .cloud-1 {
    opacity: 0.7;
}

body.night .cloud-2 {
    opacity: 0.5;
}

#baloon {
    width: 200px;
    top: 150px;
    left: 200px;
    position: absolute;
    z-index: 5000;
    display: none;
}

#containerBalloon {
    width: 180px;
    height: 120px;
    position: absolute;
    top: 160px;
    left: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5001;
    display: none;
}

#txtBaloon {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}

.star {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 100px;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 1);
    background-color: #FFF;
    animation: shine 3s 0s infinite;
}

#rabo {
    width: 89px;
    position: absolute;
    left: 127px;
    top: 690px;
    z-index: 3;
    animation: rabo 8s 0s infinite;
}

#rose {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 400px;
    z-index: 1001;
    opacity: 1;
    transition: all 1s;
    transform: scale(0);
    
}

#monster {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 400px;
    z-index: 1001;
    opacity: 0;
    transition: all 0.5s;
    transform: scale(0);
}

#monster.show {
    opacity: 1;
    transform: scale(1);
    animation: monster 1.2s 0.6s infinite;
}

@keyframes monster {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

#special-badge {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 400px;
    z-index: 1001;
    opacity: 0;
    transition: all 0.5s;
    transform: scale(0);
}

#special-badge.show {
    opacity: 1;
    transform: scale(1);
    animation: monster 1.2s 0.6s infinite;
}

#loading {
    width: 150px;
    background-color: #FFF;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    font-size: 12px;
    color: #000;
    z-index: 6;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#status {
    width: 70%;
    height: auto;
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    position: absolute;
    top: 5px;
    font-family: serif;
    z-index: 5000;
}

#status > div {
    margin-left: 5px;
}

#status p {
    font-size: 12px;
    margin-bottom: 0;
    color: #FFF;
    letter-spacing: 1px;
}

#friendship-status {
    margin-top: -2px;
}

#friendship {
    width: 100px;
    height: 10px;
    background: linear-gradient(to right, #fff 10%, transparent 0%);
    border: 1px solid #000;
}

#more-score,
#less-score {
    position: absolute;
    font-size: 14px;
    left:70px;
    top: 30px;
    color: #FFF;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 6000;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#less-score {
    color: #F22;
}

#more-score.show, 
#less-score.show {
    animation: score 1.5s forwards;
}

#msg {
    max-width: 500px;
    position: absolute;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #FFF;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2000;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}

#msg.show {
    display: flex;
}

#msg span {
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.heart {
    font-size: 20px;
    left: 300px;
    top: 500px;
    z-index: 2000;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    animation: heart 5s forwards;
}

#moon {
    width: 200px;
    height: 200px;
    top: 70px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 250);
    z-index: 1;
    box-shadow: 0 0 50px 21px rgba(255, 255, 250, 0.8);
    /*animation: moon 5s infinite;*/
    overflow: hidden;
    display: none;
}

#moon.left {
    left: 40px;
}

#moon.middle {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#moon.right {
    right: 40px;
}

#moon.show {
    display: block;
}

.shadow1 {
    width: 50px;
    height: 50px;
    left: 100px;
    top: 110px;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    position: absolute;
}

.shadow2 {
    width: 20px;
    height: 20px;
    left: 50px;
    top: 140px;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    position: absolute;
}

.shadow3 {
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    position: absolute;
}

.shadow4 {
    width: 50px;
    height: 50px;
    left: 70px;
    bottom: -20px;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    position: absolute;
}

.shadow5 {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 40px;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    position: absolute;
}

#img-collected img {
    width: 20px;
}

#img-collected {
    position: absolute;
    right: 15px;
    top: 50px;
    display: none;
}

#img-collected.show {
    display: block;
}

.rain {
    width: 2px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    z-index: 3000;
    right: 100px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    animation: rain 3s linear forwards;
}

.snow {
    position: absolute;
    z-index: 3000;
    right: 100px;
    top: 0;
    background-color: #EBEBEB;
    animation: rain 20s linear forwards;
}

.snow-1 {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
}

.snow-2 {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.5);
}

.rain-cloud-1 {
    top: 130px;
    width: 342px;
    left: 228px;
    position: absolute;
    display: none;
}

.rain-cloud-2 {
    width: 310px;
    left: -22px;
    top: -10px;
    position: absolute;
    z-index: 3005;
    display: none;
}

.rain-cloud-1.show,
.rain-cloud-2.show {
    display: block;
}

body.is-rain #cloud,
body.is-rain.night #cloud,
.rain-cloud-1, 
.rain-cloud-2 {
    filter: invert(20%);
    opacity: 0.6;
}

#sakura {
    width: 150px;
    left: 95px;
    top: 470px;
    z-index: 1001;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: 1s all;
}

#sakura.show {
    animation: sakura 4s forwards;
}

#quest,
#quest2 {
    width: 350px;
    height: 210px;
    background-color: #e8dd99;
    border: 1px solid #000;
    position: absolute;
    z-index: 5000;
    bottom: 20px;
    box-sizing: border-box;
    padding: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}

#quest.show,
#quest2.show {
    display: block;
}

#quest hr,
#quest2 hr {
    margin: 5px 0;
    border-color: #AAA;
    border-style: solid;
    border-width: 1px;
    border-width: 0.01em;
    border-top: 0;
    padding: 0;
}

.quest-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


#quest2 .quest-title {
    font-size: 16px;
}

.quest-subtitle {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.quest-content {
    text-align: center;
} 

#quest > .quest-body,
#quest2 > .quest-body {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#quest > .quest-body p,
#quest2 > .quest-body p {
    text-align: center;
}

#quest > .quest-footer,
#quest2 > .quest-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    left: 0;

}

#quest2 > .quest-footer {
    bottom: 10px;
}

#quest > .quest-footer > button,
#quest2 > .quest-footer > button {
    color:#e8dd99;
    background-color: #874300;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0 5px;
}

#quest > .quest-footer > button:active,
#quest2 > .quest-footer > button:active {
    transition: all 0.2s;
    transform: scale(1.1);
}

#quest > .quest-footer > button#bt-no.hide,
#quest2 > .quest-footer > button#bt-no.hide {
    opacity: 0;
}

#popup-new-badge.show {
    display: block;
}

#popup-new-badge {
    width: 350px;
    height:auto;
    background-color: #e8dd99;
    border: 1px solid #000;
    padding: 20px 25px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 6000;
    top: 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    transform: scale(0);
    animation: popup-badge 0.6s forwards;
}

#popup-new-badge p {
    text-align: center;
}

#popup-new-badge p:first-child {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#popup-new-badge p:nth-child(3) {
    margin-bottom: 20px;
}

#popup-new-badge .area-badge {
    text-align: center;
}

#popup-new-badge .area-badge img {
    width: 80%;
    margin: 0 auto;
}

.popup-new-badge-fotter {
    text-align: center;
    margin: 20px 0;
}

#popup-new-badge button {
    color:#e8dd99;
    background-color: #874300;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    
}


/***** badges ********/

.bg-badges {
    background-color: #e8dd99;
    min-height: 100%;
    padding: 10px;
}

#btn-back {
    color:#e8dd99;
    background-color: #874300;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.title-badges {
    font-size: 24px;
    margin: 20px;
    margin-left: 0;
    font-weight: bold;
}

.badge-div {
    width: 100%;
    margin: 0 auto;
    border-color: #000;
}

#badges {
    width: 100%;
    max-height: 620px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0;
    flex-wrap: wrap;
    overflow-y: auto;
}

.badge {
    width: 100px;
}

.badge-item {
    max-width: 100px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #000;
    padding: 5px;
    margin: 5px;
    position: relative;
    color: #FFF;
    background-color: #874300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.badge-item  img{
    width: 100%;
    margin-bottom: 10px;
}

.badge-item p {
    font-size: 12px;
}

#btn-badges {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    z-index: 2000;
}
#btn-badges img {
    width: 100%;
}

.spn-badge-count {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #FFF;
    font-size: 12px;
}

#popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

#popup-overlay.show {
    display: block;
}

#popup-overlay.show > #popup-show-badge {
    animation: popup 0.3s forwards;
}
@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#popup-show-badge {
    width: 90%;
    height: auto;
    min-height: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
    position: fixed;
    max-width: 400px;
    background-color: #874300;
    border: 2px solid #000;
    padding: 10px 10px 40px 10px;
    box-sizing: border-box;
    opacity: 0;
}

#popup-show-badge img {
    width: 100%;
    margin-bottom: 10px;
}

#popup-show-badge p {
    font-size: 20px;
    color: #FFF;
    text-align: center;
}

#close-popup {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30px;
    display: block;
    font-size: 30px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: -15px;
    top: -15px;
    border: 2px solid #000;
}

#monster-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10000;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(103, 213, 247, 0.9) 20%, transparent 100%);
    bottom: -100%;
}

#monster-screen.show {
    animation: monsterscren 7s forwards;
}

#monster-screen > .bubble{
    width: 20px;
    height: 20px;
    border-width: 1px;
    border: 0.1rem solid rgb(162, 248, 209);
    position: absolute;
    left: 100px;
    bottom: -20px;
    border-radius: 100px;
    opacity: 0;
    animation: bubble 8s 0s forwards;
}



.cloud-1 {
    width: 371px;
    top: -4px;
    left: 164px;
    opacity: 0.95;
    filter: brightness(90%); 
    position: absolute;
}

.cloud-2 {
    width: 281px;
    top: 211px;
    left: -91px;
    opacity: 0.4;
    filter: brightness(90%); 
    position: absolute;
    transform: rotateY(-180deg);
}

.aniversary-balloon {
    width: 100px;
    top: calc(100% + 100px);
    left: 0;
    z-index: 2;
    position: absolute;
    animation: balloon 40s forwards ease-out;
}


#gift-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    display: none;
    opacity: 0;
}

#gift-screen  img {
    max-width: 80%;
    opacity: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#gift-screen.show {
    display: flex;
    animation: gift 2s forwards;
}

#gift-screen.show  img {
    animation: gift-img 2s 1.4s forwards;
}

#btn-skins {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 50px;
    display: block;
    z-index: 2000;
}

#btn-skins img {
    width: 100%;
}

#popup-loading,
#popup-loading-bg {
    width: 200px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5000;
    background-color: #FFF;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#popup-loading.show,
#popup-loading-bg.show {
    display: flex;
}

#popup-skins-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#popup-skins-overlay.show {
    display: flex;
    z-index: 6000;
}

#popup-skins {
    width: 90%;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #874300;
    border: 2px solid #000;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    position: relative;
}

#popup-skins > img {
    position: fixed;
    right: 5%;

}

#popup-skins > .skin-item {
    width: 110px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #b9b07a;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #b9b07a;
    flex-basis: 110px;
    flex-shrink: 0;
}

#popup-skins > .skin-item p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 0;
}

#popup-skins > .skin-item > img {
    width: 100%;
    height: auto;
}

#popup-skins > .skin-item.selected {
    border: 3px solid #22F;
}

@keyframes gift {
    0% {
        
    }
    50% {
        background-color: #FFF;
        backdrop-filter: brightness(500%);
        opacity: 1;
    }
    100% {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: brightness(100%);
    }
}

@keyframes gift-img {
    100% {
        opacity: 1;
    }
}

@keyframes xmas-light-blue {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes xmas-light-yellow {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(226, 214, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes xmas-light-red {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.8);
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes balloon {
    100%{
        top: -300px;
    }
}

@keyframes monsterscren {
    10% {
        bottom: 0;
        opacity: 1;
    }
    95% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes bubble {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        bottom: 140%;
    }
}

@keyframes popup-badge {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sakura {
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}

@keyframes rain {
    100% {
        top: calc(100% + 10px);
    }
}

@keyframes moon {
    0% {
        box-shadow: 0 0 50px 20px rgba(255, 255, 250, 0.8);
    }
    50% {
        box-shadow: 0 0 50px 21px rgba(255, 255, 250, 0.8);
    }
    100% {
        box-shadow: 0 0 50px 20px rgba(255, 255, 250, 0.8);
    }
}

@keyframes heart {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 300px;
        transform: scale(1.5);
    }
}

@keyframes score {
    0% {
        opacity: 1;
    }
    100% {
        top: 10px;
        opacity: 0;
    }
}

@keyframes rose {
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }  
}

@keyframes rabo {
    0% {
        transform: rotateZ(0) translateX(0);
    }

    25% {
        transform: rotateZ(5deg) translateX(-10px);
    }

    50% {
        transform: rotateZ(-5deg) translateX(10px);
    }

    75% {
        transform: rotateZ(0) translateX(0)
    }
}

@keyframes shine {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 20px 1px rgba(255, 255, 255, 1);
    }
}
